manifest {
    name = 'PerturbationCatalogue/perturb-seq'
    description = 'Nextflow pipeline for processing raw Perturb-seq FASTQ datasets into a unified H5AD file containing both cDNA and Guide RNA counts.'
    mainScript = 'main.nf'
    version = '1.1.0'
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 4
        process.memory = '8 GB'
    }

    slurm {
        process {
            executor = 'slurm'
            errorStrategy = 'retry'
            maxRetries = 3

            withName: 'BUILD_INDEX_STANDARD|BUILD_INDEX_KITE' {
                cpus = 4
                memory = '16 GB'
                time = '2h'
            }

            withName: 'KB_COUNT_STANDARD|KB_COUNT_KITE' {
                cpus = 16
                memory = '64 GB'
                time = '12h'
            }

            withName: 'MERGE_SRR' {
                cpus = 2
                memory = { 32.GB * task.attempt }
                time = '1h'
            }

            withName: 'CONCAT_ALL' {
                cpus = 4
                memory = { 128.GB * task.attempt } // Merging all SRRs into a single matrix could require high RAM
                time = '6h'
            }
        }
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://quay.io/biocontainers/kb-python:0.28.2--pyhdfd78af_2'
    }
}
