.DS_Store
.vscode
.env
.idea
.venv
*.h5ad
*.parquet
*.log
__pycache__
data_exploration/CRISPR/supplementary/temp
data_exploration/MaveDB/Dump
data_exploration/MaveDB/csv
data_exploration/MaveDB/llm_metadata_extraction/mavedb_metadata
data_exploration/MaveDB/llm_metadata_extraction/extracted_metadata
data_exploration/curation_tools/llm_curation/mavedb/pub_full_text_*
data_exploration/curation_tools/llm_curation/paperscraper_dumps
# Python package build metadata
*.egg-info/
