footer {
  background-color: rgb(226, 255, 239);
  height: 50px;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;  /* Vertically centers the content */
}

span {
  margin-left: 2em;
}
