<mat-sidenav-container class="top-container">

  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/data_portal">
        <mat-icon>table_view</mat-icon>
        <span>Data Portal</span>
      </a>
      <a mat-list-item routerLink="/dashboards">
        <mat-icon>bar_chart</mat-icon>
        <span>Dashboards</span>
      </a>
      <a mat-list-item routerLink="/data-analytics">
        <mat-icon>troubleshoot</mat-icon>
        <span>Data Analytics</span>
      </a>
      <a mat-list-item routerLink="/about">
        <mat-icon>help</mat-icon>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="header">
    @if (showSidebar) {
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        Perturbation Catalogue
      </span>
    } @else {
      <a mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <span class="example-spacer"></span>
      <a mat-button routerLink="/data_portal">
        <mat-icon>table_view</mat-icon>
        Data Portal
      </a>
      <a mat-button routerLink="/dashboards">
        <mat-icon>bar_chart</mat-icon>
        Dashboards
      </a>
      <a mat-button routerLink="/data-analytics">
        <mat-icon>troubleshoot</mat-icon>
        Data Analytics
      </a>
      <a mat-button routerLink="/about">
        <mat-icon>help</mat-icon>
        About
      </a>
    }
  </mat-toolbar>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar class="footer">
    <span>Powered by </span>
    &nbsp;&nbsp;&nbsp;
    <img src="EMBL_EBI-logo.png" style="height: 70%" alt="EBI logo">

  </mat-toolbar>

</mat-sidenav-container>
