# Jupyter kernel
ipykernel

# General maths packages
matplotlib
scipy<1.15.0
pandas

# scverse
decoupler==2.0.1
pertpy==0.11.4
scanpy==1.11.1
snapatac2

# Data curation
pandera
libchebipy
gprofiler-official
python-dotenv
google-cloud-aiplatform
vertexai
elsapy
trafilatura
