nextflow.enable.dsl = 2

profiles {
  standard { }
  gcp_batch {
    workDir = 'gs://perturbation-catalogue-lake/perturbseq/nf_differential_expression/work'

    process {
      executor = 'google-batch'     // Nextflow’s Google Batch executor
      container = 'europe-west2-docker.pkg.dev/prj-ext-dev-pertcat-437314/nf-containers/scperturb-nf:latest'
      withLabel:normal  { cpus = 4; memory = '16 GB'  }
      withLabel:big  { cpus = 32; memory = '64 GB'  }
    }

    google {
        project = 'prj-ext-dev-pertcat-437314'
        location = 'europe-west2'
      batch {
        bootDiskSize = '50 GB'
        spot = true
        serviceAccountEmail = '959149465821-compute@developer.gserviceaccount.com'
      }
    }
  }
}