/* Make Dash page_content container fill the available space. Especially important for iframes. */

:has(#_pages_content) {
    display: flex;
    flex: 1;
}

#_pages_content {
    display: flex;
    flex: 1;
}

/* Bootstrap colour settings. */

:root {
    /* Primary colour */
    --custom-color-rgb: 23, 140, 67;
    --custom-color: rgb(var(--custom-color-rgb));
    --bs-link-color-rgb: var(--custom-color-rgb);
    --bs-link-color: var(--custom-color);
    /* Hover colour */
    --bs-link-hover-color-rgb: 63, 180, 107;
    --bs-link-hover-color: rgb(var(--bs-link-hover-color-rgb))
  }

.pagination {
    --bs-pagination-active-bg: var(--custom-color);
    --bs-pagination-active-border-color: var(--custom-color);
}

/* Elastic table styles. */

.elastic-table-filter-clear {
    display: none;  /* By default, hide the Clear button. */
}

div:has(> .elastic-table-filter-checklist input:checked) ~ .elastic-table-filter-clear {
    display: block;
}

div.card:has(.elastic-table-filter-checklist:empty) {
    display: none;  /* If a particular filter has no available values, hide it entirely. */
}

/*
  Fix for the dbc.Popover reflow/blink issue. This ensures that the element is initialised
  with absolute position from the start, to avoid triggering grid reflow.
*/
.popover {
    position: absolute;
}
