<app-header></app-header>

<div class="paginator-container">
  <mat-paginator [length]="totalResults" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 50]" (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div class="search-container">
  <mat-form-field appearance="fill" class="wide-search-field">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search" />
  </mat-form-field>
</div>

<div class="table-container">
  @if (data?.length > 0) {
    <table>
      <thead>
        <tr>
          @for (let key of getKeys(data[0])) {
            <th>{{ key }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (let item of data) {
          <tr>
            @for (let key of getKeys(item)) {
              <td>{{ item[key] }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</div>

<app-footer></app-footer>
