.top-container {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.left-container {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    flex-grow: 4;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
}

.right-container {
    display: flex;
    flex-grow: 8;
    margin-top: 10px;
}

mat-card-title {
    margin-top: 10px;
    margin-left: 10px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.example-table-container {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}
