<app-header></app-header>


<div>
  <h1>
    The Open Targets Perturbation Catalogue - Coming Soon!
  </h1>
</div>

<mat-card>
  <mat-card-title>Elastic Data</mat-card-title>
  <mat-card-content>
    <table>
      <thead>
        <tr>
          <th *ngFor="let col of data[0]?.f; let i = index">{{ col.v }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let col of row.f">{{ col.v }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
